<h2>Application <%= @application.id %></h2>
<p>Applicant Name: <%= @application.name %></p>
<p>Address: <%= @application.address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip: <%= @application.zip %></p>
<p>Applicant description why their home would be good for this pet: <br/>
<%= @application.description %></p>

<p>Pet's Being Applied For:</p>
<ul class='applied-pets'>
  <% @application.pets.each do |pet| %>
    <li>
      <%= link_to pet.name, "/pets/#{pet.id}" %>
    </li>
  <% end %>
</ul>
<p>Application Status: <%= @application.status %></p>

<%= form_tag "/applications/#{@application.id}", method: :get, id: 'add-a-pet-search-form' do %>
  <%= label_tag 'add-a-pet-search', 'Add a Pet to this Application' %>
  <%= search_field_tag 'add-a-pet-search' %>
  <%= submit_tag 'Submit' %>
<% end %>

<section id='add-a-pet-search-results'>
  <h3>Pet Search Results</h3>
  <ul>
    <% if @matched_pets %>
      <% @matched_pets.each do |pet| %>
        <li><%= pet.name %></li><%= link_to 'Adopt this Pet', "/applications/#{@application.id}/pets/#{pet.id}/adoptions", method: :post %>
      <% end %>
    <% end %>
  </ul>
</section>
